{% extends 'base.html' %}
{% load static %}
{% block title  %}Markaziy Osiyo tibbiyot universiteti{% endblock %}

{% block link  %}{% endblock %}

{% block content  %}

<section class="section breadcrumb-modern context-dark parallax-container" data-parallax-img="{% static 'images/bac_news.jpeg' %}">
    <div class="parallax-content section-30 section-sm-70">
        <div class="shell">
            <h2 class="veil reveal-sm-block">Grid News</h2>
            <div class="offset-sm-top-35">
                <ul class="list-inline list-inline-lg list-inline-dashed p">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Yangiliklar</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div id="fb-root"></div>
<section class="section novi-background bg-cover section-70 section-md-114 bg-catskill">
    <div class="shell">
        <div class="range range-85 range-xs-center">
            <div class="cell-md-8">
                <div class="range range-30 text-sm-left range-xs-center">
                    {% for i in news %}
                        <div class="cell-sm-6">
                            <article class="post-news"><a href="{% url 'news_details' slug=i.slug %}">
                                <div class="post-news__img">
                                <img class="img-responsive" src="/{{i.image}}" width="500" height="600" alt=""></a>
                                </div>
                                <div class="post-news-body">
                                    <h6><a href="{% url 'news_details' slug=i.slug %}">{{ i.title }}</a></h6>
                                    <div class="offset-top-20">
                                        <p>{{ i.subtitle }}</p>
                                    </div>
                                    <div class="post-news-meta offset-top-20"><span class="icon novi-icon icon-xs mdi mdi-calendar-clock text-middle text-madison"></span><span class="text-middle inset-left-10 text-italic text-black">{{ i.date_created }}</span></div>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="cell-xs-8 cell-md-4 text-left">
                <aside class="aside inset-md-left-30">
                    <div class="aside-item">
                        <h6 class="text-bold">Search</h6>
                        <div class="text-subline"></div>
                        <div class="offset-top-30">
                            <form class="form-search rd-search form-search-widget" action="search-results.html" method="GET">
                                <div class="form-group">
                                    <div class="input-group"><input class="form-search-input  form-control" type="text" name="s" autocomplete="off"><span class="input-group-btn"><button class="btn btn-primary" type="submit"><span class="icon fa-search"></span></button></span></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="aside-item">
                        <h6 class="text-bold">Archive</h6>
                        <div class="text-subline"></div>
                        <div class="row offset-top-20">
                            <div class="col-xs-6">
                                <ul class="list list-marked list-marked-primary">
                                    <li><a href="#">Jun</a></li>
                                    <li><a href="#">Aug</a></li>
                                    <li><a href="#">Oct</a></li>
                                    <li><a href="#">Dec</a></li>
                                    <li><a href="#">Feb</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="aside-item">
                        <h6 class="text-bold">Gallery</h6>
                        <div class="text-subline"></div>
                        <div class="range range-condensed range-custom offset-top-20 remove-position" data-lightgallery="group">
                            {% for image in gallery %}
                            <div class="cell-6">
                                <a class="thumbnail-default thumbnail-default__img" href="/{{ image.image }}" data-lightgallery="item">
                                    <img class="thumbnail-default__img" src="/{{ image.image }}" alt="" width="320" height="320">
                                    <span class="icon novi-icon fa-search-plus"></span></a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="aside-item">
                        <h6 class="text-bold">Categories</h6>
                        <div class="text-subline"></div>
                        <div class="offset-top-20">
                            <ul class="list list-marked list-marked-primary">
                                <li><a href="#">News</a></li>
                                <li><a href="#">University</a></li>
                                <li><a href="#">Global Education</a></li>
                                <li><a href="#">Law</a></li>
                                <li><a href="#">Colleges</a></li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>


{% endblock %}
{% block link_js  %}{% endblock %}
