{% extends 'base.html' %}
{% load static %}
{% block title  %}Markaziy Osiyo tibbiyot universiteti{% endblock %}

{% block link  %}{% endblock %}

{% block content  %}
<section class="section breadcrumb-modern context-dark parallax-container" data-parallax-img="{% static '' %}images/parallax-03.jpg">
    <div class="parallax-content section-30 section-sm-70">
        <div class="shell">
            <h2 class="veil reveal-sm-block"> Our Lecturer </h2>
            <div class="offset-sm-top-35">
                <ul class="list-inline list-inline-lg list-inline-dashed p">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Team&nbsp;</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section novi-background bg-cover section-70 section-md-114 bg-default">
    <div class="shell">
        <h2 class="text-bold"> Our Lecturer </h2>
        <hr class="divider bg-madison">
        <div class="range range-30 text-md-left offset-top-60">
            <div class="cell-sm-6 cell-md-3"><img class="img-responsive reveal-inline-block img-rounded" src="{% static '' %}images/users/user-kathy-gibson-270x270.jpg" width="270" height="270" alt="">
                <div class="offset-top-20">
                    <h6 class="text-bold text-primary"><a href="team-member-profile.html">Kathy Gibson</a></h6>
                </div>
                <div class="offset-top-5">
                    <p>Psychology</p>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3"><img class="img-responsive reveal-inline-block img-rounded" src="{% static '' %}images/users/user-julie-weaver-270x270.jpg" width="270" height="270" alt="">
                <div class="offset-top-20">
                    <h6 class="text-bold text-primary"><a href="team-member-profile.html">Julie Weaver</a></h6>
                </div>
                <div class="offset-top-5">
                    <p>Economics</p>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3"><img class="img-responsive reveal-inline-block img-rounded" src="{% static '' %}images/users/user-peter-wong-270x270.jpg" width="270" height="270" alt="">
                <div class="offset-top-20">
                    <h6 class="text-bold text-primary"><a href="team-member-profile.html">William Barnett</a></h6>
                </div>
                <div class="offset-top-5">
                    <p>Geology &amp; Geophysics</p>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3"><img class="img-responsive reveal-inline-block img-rounded" src="{% static '' %}images/users/user-russell-weber-270x270.jpg" width="270" height="270" alt="">
                <div class="offset-top-20">
                    <h6 class="text-bold text-primary"><a href="team-member-profile.html">Bruce Hawkins</a></h6>
                </div>
                <div class="offset-top-5">
                    <p>Graphic Design</p>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3"><img class="img-responsive reveal-inline-block img-rounded" src="{% static '' %}images/users/teacher03.jpg" width="270" height="270" alt="">
                <div class="offset-top-20">
                    <h6 class="text-bold text-primary">Sani Dory</h6>
                </div>
                <div class="offset-top-5">
                    <p>Psychology</p>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3"><img class="img-responsive reveal-inline-block img-rounded" src="{% static '' %}images/users/teacher04.jpg" width="270" height="270" alt="">
                <div class="offset-top-20">
                    <h6 class="text-bold text-primary">Jari Moral</h6>
                </div>
                <div class="offset-top-5">
                    <p>Economics</p>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3"><img class="img-responsive reveal-inline-block img-rounded" src="{% static '' %}images/users/teacher05.jpg" width="270" height="270" alt="">
                <div class="offset-top-20">
                    <h6 class="text-bold text-primary"><a href="team-member-profile.html">A</a>lex Gollah</h6>
                </div>
                <div class="offset-top-5">
                    <p>Geology &amp; Geophysics</p>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3"><img class="img-responsive reveal-inline-block img-rounded" src="{% static '' %}images/users/teacher06.jpg" width="270" height="270" alt="">
                <div class="offset-top-20">
                    <h6 class="text-bold text-primary">Maxwell Dolli</h6>
                </div>
                <div class="offset-top-5">
                    <p>Graphic Design</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block link_js  %}{% endblock %}
